<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.Media.AzureBlobStorage.Data.DataProviders.SqlServerDataProviderWithAzureStorage,Sitecore.Media.AzureBlobStorage</patch:attribute>
      </main>
    </dataProviders>
    <settings>
      <!--  MEDIA - AZURE BLOB STORAGE - CONNECTION STRING
            The connection string used for connecting to your Azure blob storage account
            Read: http://msdn.microsoft.com/en-us/library/windowsazure/ee758697.aspx for more information on storage account connection strings
      -->
      <setting name="Media.AzureBlobStorage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[accountname];AccountKey=[accountkey]" />

      <!--  MEDIA - AZURE BLOB STORAGE - CONTAINER NAME 
            Name of the Azure blob storage container in which all your Sitecore Media Library blobs will be stored.
            If the container specified in this setting does not already exist in your Azure storage account, it will automatically be created.
      -->
      <setting name="Media.AzureBlobStorage.ContainerName" value="sitecore-media-library" />

      <!--  MEDIA - AZURE BLOB STORAGE - REQUEST SERVER TIMEOUT
            Server timeout interval for the request. When uploading large media files, this value might need to be increased.
            When set to 00:00:00, client library default value is used (5 minutes).
            Default: 00:20:00
      -->
      <setting name="Media.AzureBlobStorage.RequestServerTimeout" value="00:20:00" />
      <!--  MEDIA - AZURE BLOB STORAGE - MAXIMUM EXECUTION TIME
            Maximum execution time across all potential retries for the request.
            When set to 00:00:00, client library default value is used (24 days).
            Default: 00:00:00
      -->
      <setting name="Media.AzureBlobStorage.MaximumExecutionTime" value="00:00:00" />
      <!--  MEDIA - AZURE BLOB STORAGE - PARALLEL OPERATION THREAD COUNT
            Number of blocks that may be simultaneously uploaded when uploading a blob that is greater 
            than the value specified by the SingleBlobUploadThresholdInBytes property in size.
            Default: 1
      -->
      <setting name="Media.AzureBlobStorage.ParallelOperationThreadCount" value="1" />
      <!--  MEDIA - AZURE BLOB STORAGE - RETRY POLICY
            Retry policy for the request. If request fails, retry policy can make serveral attempts to re-send the data.
            Possible values: NoRetry, Linear, Exponential
            Default: NoRetry
      -->
      <setting name="Media.AzureBlobStorage.RetryPolicy" value="NoRetry" />
      <!--  MEDIA - AZURE BLOB STORAGE - RETRY POLICY MAXIMUM ATTEMPTS
            An integer specifying the maximum number of retry attempts.
            Default: 3
      -->
      <setting name="Media.AzureBlobStorage.RetryPolicy.MaxAttempts" value="3" />
      <!--  MEDIA - AZURE BLOB STORAGE - RETRY POLICY DELTA BACK OFF
            A TimeSpan specifying the back-off interval between retries.
            Default: 3 seconds
      -->
      <setting name="Media.AzureBlobStorage.RetryPolicy.DeltaBackoff" value="00:00:03" />
      <!--  MEDIA - AZURE BLOB STORAGE - SINGLE BLOB UPLOAD THRESHOLD IN BYTES
            The maximum size of a blob in bytes that may be uploaded as a single blob.
            Reference values:
              2 MB: 2097152
              4 MB: 4194304
              8 MB: 8388608
              16 MB: 16777216
              32 MB: 33554432
              64 MB: 67108864
            Default: 32 MB
            Max allowed: 64 MB
      -->
      <setting name="Media.AzureBlobStorage.SingleBlobUploadThresholdInBytes" value="33554432" />
      <!--  MEDIA - AZURE BLOB STORAGE - USE TRANSACTIONAL MD5
            Indicates that a hash value needs to be calculated and sent/validated content MD5 for transactions.
            Default: false
      -->
      <setting name="Media.AzureBlobStorage.UseTransactionalMD5" value="false" />
      <!--  MEDIA - AZURE BLOB STORAGE - STORE BLOB CONTENT MD5
            Indicates that an MD5 hash will be calculated and stored when uploading a blob.
            Default: false
      -->
      <setting name="Media.AzureBlobStorage.StoreBlobContentMD5" value="false" />
      <!--  MEDIA - AZURE BLOB STORAGE - STREAM WRITE SIZE IN BYTES
            Reference values:
              16 KB: 16384
              1 MB: 1048576
              2 MB: 2097152
              4 MB: 4194304
        When set to 0, client library default value is used which is 4 MB.
        Default: 0
        Min value: 16 KB
        Max value: 4 MB
      -->
      <setting name="Media.AzureBlobStorage.StreamWriteSizeInBytes" value="0" />
      <!--  MEDIA - AZURE BLOB STORAGE - OPERATION CONTEXT LOG LEVEL
            The logging level to be used for an instance of the OperationContext class that is passed for with requests to blob storage client library.
            Possible values: Error, Informational, Off, Verbose, Warning
            Default: Verbose
      -->
      <setting name="Media.AzureBlobStorage.OperationContext.LogLevel" value="Verbose" />
    </settings>
  </sitecore>
</configuration>
