<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<dataProviders>
			<main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
				<patch:attribute name="type">Sitecore.AzureExtensions.Data.DataProviders.AzureBlobStorageProvider,Sitecore.AzureExtensions</patch:attribute>
			</main>
		</dataProviders>
		<settings>
			<!--  MEDIA - AZURE BLOB STORAGE - CONNECTION STRING
			The connection string used for connecting to your Azure blob storage account
			Read: http://msdn.microsoft.com/en-us/library/windowsazure/ee758697.aspx for more information on storage account connection strings
			-->
			<setting name="Media.AzureBlobStorage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[accountname];AccountKey=[accountkey]" />

			<!-- MEDIA -AZURE BLOB STORAGE - CONTAINER NAME 
			Name of the Azure blob storage container in which all your Sitecore Media Library blobs will be stored.
			If the container specified in this setting does not already exist in your Azure storage account, it will automatically be created.
			-->
			<setting name="Media.AzureBlobStorage.ContainerName" value="sitecore-media-library" />
		</settings>
	</sitecore>
</configuration>
