<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<dataProviders>
			<main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
				<patch:attribute name="type">Sitecore.AzureExtensions.Data.DataProviders.AzureBlobStorageProvider,Sitecore.AzureExtensions</patch:attribute>
			</main>
		</dataProviders>
		<settings>
			<setting name="Media.AzureBlobStorage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[accountname];AccountKey=[accountkey]" />
			<setting name="Media.AzureBlobStorage.ContainerName" value="sitecore-media-library" />
		</settings>
	</sitecore>
</configuration>
